// Base colors
$base-color: rgba(28, 46, 54, 1);
$base-color-50: rgba(28, 46, 54, 0.5);
$base-color-25: rgba(28, 46, 54, 0.25);

// Complementary colors
$blue: rgba(25, 100, 149, 1);
$orange: rgba(239, 90, 59, 1);
