// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300italic,500,500italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic);

// Base Font weights
$base-regular: 300;
$base-bold: 500;

// Headings Font weights
$header-regular: 400;
$header-bold: 700;

// Base Font
$base-font-family: 'Fira Sans', sans-serif;
$base-font-weight: $base-regular;
$base-font-size: 1rem;
$base-line-height: 1.5;

// Fixed Font (meta)
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Header Font
$header-font-family: 'Alegreya', serif;
$header-font-weight: $header-regular;
