@import "modules/all";

html, body {
    height: 100%;
}

html {
    min-height: 100%;
    font-size: 100%;
    position: relative;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0 0 $footer-height 0;
    color: $base-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-regular;
    line-height: $base-line-height;
    background-color: $base-color-10;
}

// Links
a {
    color: $base-color;
    text-decoration: underline;

    @include transition($default);

    &:hover, &:focus {
        color: $accent-color;
    }
}

// Typography
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
}

h1, h2 {
    text-transform: uppercase;
}

.section-title {
    margin-top: 80px;
}

// Grid changes
.no-gutter {
    margin-right: 0;
    margin-left: 0;

    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
