.btn {
    padding: 10px 15px 6px 15px;
    font-family: $header-font-family;
    font-weight: $header-bold;
    text-decoration: none;
    letter-spacing: 2px;
    border-width: 4px;
    border-radius: 0;
    background-color: transparent;

    @include transition($instant);

    &.btn-default {
        color: $accent-color;
        text-transform: uppercase;
        border-color: $accent-color;

        &:hover, &:focus {
            color: #fff;
            background-color: $accent-color;
        }
    }

    &.btn-lg {
        padding: 10px 30px;
        margin: 0 auto;
        float: none;
        font-size: 18px;
    }

    &.btn-search {
        margin-left: 0;
        color: $accent-color;
        border-color: $accent-color;

        &:hover, &:focus {
            color: #fff;
            border-color: $accent-color;
        }
    }

    &.btn-well {
        width: $header-sm-height;
        height: $header-sm-height;
        padding: 0;
        margin-right: 0;
        border-width: 0;
        position: absolute;
        top: 0; right: 0;
        border-left: 1px solid $base-color-10;

        svg {
            width: 24px;
            height: 24px;
            fill: #fff;
        }

        &.collapsed::before, &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            background-color: #fff;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url('../images/svg/icon-search.svg');
            background-size: 18px 18px;
            content: ' ';

            @include transition($default);
        }

        &::before {
            background-color: $base-color-10;
            background-image: url('../images/svg/icon-close.svg');
        }

        &.collapsed:hover::before, &.collapsed:focus::before {
            background-color: $base-color-10;
        }
    }
}

.navbar-default {
    border-color: transparent;

    .navbar-toggle {
        width: auto;
        height: $header-sm-height;
        margin: 0 75px 0 0;
        padding: 0 20px;
        text-align: center;
        border: none;
        border-radius: 0;
        background-color: #fff;

        @include transition($default);

        &:hover .navbar-menu, &:focus .navbar-menu {
            color: #fff;
        }

        .navbar-menu {
            text-transform: uppercase;
            position: relative;;

            @include transition($default);
        }

        .icon-bar {
            width: 24px;
            height: 1px;
            margin-left: auto;
            margin-right: auto;
            background-color: $base-color;

            @include transition($default);
        }

        .icon-bar:not(:last-child) {
            margin-bottom: 5px;
        }

            &:hover .icon-bar, &:focus .icon-bar {
                background-color: #fff;
            }

        &.collapsed {
            // background-color: $brand-color;
        }

        &:hover, &:focus {
            background-color: $base-color;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .btn {
        padding: 10px 40px 6px 40px;
        font-size: 16px;

        &.btn-lg {
            padding: 20px 50px;
            font-size: 22px;
        }

        &.btn-well {
            width: $header-lg-height;
            height: $header-lg-height;

            &.collapsed::before, &::before {
                background-size: 24px 24px;
            }
        }
    }

    .navbar-default {
        .navbar-toggle {
            // width: $header-lg-height;
            height: $header-lg-height;
            padding: 0 30px 0 80px;
            margin: 0 $header-lg-height 0 0;

            .navbar-menu {
                position: absolute;
                left: 30px;
            }

            .icon-bar {
                width: 36px;
            }

            .icon-bar:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
