header {
    width: auto;
    height: $header-sm-height;
    font-family: $header-font-family;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 200;

    @include transition($default);

    a {
        text-decoration: none;
    }
}

.navbar-header {
    background-color: #fff;
}

.navbar {
    text-transform: uppercase;
    border: none;
    border-radius: 0;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    &.navbar-default {
        height: $header-sm-height;
        background-color: transparent;

        .navbar-brand {
            height: $header-sm-height;
            padding: 0 em(10px);
            margin-left: 15px;
            color: $base-color;
            font-size: 16px;
            line-height: $header-sm-height;
            letter-spacing: 1px;
            text-transform: none;
            border-right: 1px solid $base-color-10;

            span {
                font-weight: $base-bold;
                text-transform: uppercase;
            }

            &:hover, &:focus {
                // background-color: $base-color;
                color: $brand-color;
            }
        }

        .navbar-collapse {
            border-top: none;
            box-shadow: none;
            background-color: $base-color;

            .navbar-nav {
                margin: 0 em(20px);

                & > li > a {
                    padding: em(15px) em(30px);
                    color: #fff;
                    font-size: em(12px);
                    font-weight: $base-bold;
                    letter-spacing: 1px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

                    &:hover, &:focus {
                        color: $accent-color;
                        border-color: $accent-color;
                    }
                }

                & > li:last-child > a {
                    margin-right: 15px;
                    border-bottom: none;
                }

                & > .open > a {
                    background-color: #fff;
                }

                & > .active > a {
                    color: $accent-color;
                    background-color: transparent;
                }

                .dropdown-menu {
                    padding: 0;
                    font-size: inherit;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;

                    & > li > a {
                        padding: em(10px) em(50px);
                        color: rgba(255, 255, 255, 0.5);
                        font-size: em(14px);
                        font-weight: $header-regular;
                        border-bottom: 1px dashed rgba(255, 255, 255, 0.25);

                        &:hover, &:focus {
                            color: #fff;
                            background-color: $accent-color;
                        }
                    }
                }
            }
        }
    }

    .well {
        padding: em(40px) 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: #E8EAEB;

        .input-group {

            .form-control {
                width: 100%;
                padding: em(20px) em(10px) em(20px) em(10px);
                color: $accent-color;
                font-size: 1rem;
                font-weight: $header-regular;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;

                &:focus {
                    border-bottom-color: $accent-color;
                }
            }
        }
    }
}

.nav-up {
    top: -$header-sm-height;
}

@media (min-width: $screen-sm-min) {
    header {
        top: 0; right: em(20px); left: em(20px);
    }

    .navbar {
        &.navbar-default {
            .navbar-brand {
                height: $header-lg-height;
                padding: 0 em(30px);
                margin-left: 0;
                font-size: em(24px);
                line-height: $header-lg-height;
            }

            .navbar-collapse {
                .navbar-nav {
                    margin: 0 em(40px);
                }
            }
        }

        .well {
            padding: em(60px) 0;

            .input-group {
                .form-control {
                    padding: em(15px) em(10px) em(15px) em(10px);
                    font-size: em(24px);
                }
            }
        }
    }

    .nav-up {
        top: -$header-lg-height;
    }
}

@media (min-width: $screen-lg-min) {
    .navbar {
        &.navbar-default {
            .navbar-collapse {
                .navbar-nav {
                    & > li > a {
                        font-size: em(14px);
                    }
                }
            }
        }

        .well {
            .input-group {
                .form-control {
                    padding: em(12px) em(10px) em(12px) em(10px);
                }
            }
        }
    }
}

// Style large nav after new breakpoint
@media (min-width: $navbar-break) {
    .navbar {
        &.navbar-default {
            .navbar-collapse {
                padding: 0;
                background-color: #fff;

                .navbar-nav {
                    margin: 0 $header-lg-height 0 0;

                    .dropdown-menu {
                        & > li > a {
                            padding: em(10px) em(30px);
                            color: $base-color;
                            border: none;
                        }
                    }
                }

                .navbar-nav > li > a {
                    height: $header-lg-height;
                    padding: 0 em(20px);
                    color: $base-color;
                    line-height: $header-lg-height;
                    border: none;
                }
            }
        }
    }
}

// Change breakpoint bootstrap nav
@media (max-width: $navbar-break) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;

        & > li {
            float: none;

            & > a {
                padding-top: em(10px);
                padding-bottom: em(10px);
            }
        }

        .dropdown-menu {
            background-color: transparent;
        }

        .open {
            .dropdown-menu {
                position: static;
                float: none;
                background-color: trasparent;
            }
        }
	}

    .collapse.in {
  		display:block !important;
	}
}
